---
import Services from "~/components/services.astro";
import Portfolio from "~/components/portfolio.astro";
import GuidesPreview from "~/components/guides-preview.astro";
---

<div class="mt-16 flex flex-col items-center gap-4 px-8 pb-32">
  <Services />
  <Portfolio />
  <GuidesPreview />
</div>
