---
import ContentSection from "~/components/content-section.astro";
import PortfolioCard from "~/components/portfolio-card.astro";
import { getPortfolio } from "~/data/portfolio";

const albums = await getPortfolio();
---

<ContentSection title="" id="music">
  <Fragment slot="lead"></Fragment>
  <div class="max-w-6xl">
    <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
      {albums.map((album) => <PortfolioCard site={album} />)}
    </div>
  </div>
</ContentSection>
