---
import ContentSection from "~/components/content-section.astro";
import PortfolioCard from "~/components/portfolio-card.astro";
import { getPortfolio } from "~/data/portfolio";

const albums = await getPortfolio();
---

<ContentSection title="" id="music">
  <Fragment slot="lead"></Fragment>
  <div class="max-w-6xl">
    <div class="md:grid md:grid-cols-3 md:gap-4">
      <!-- First 6 albums in 2-column grid on mobile, part of 3-column grid on md+ -->
      <div class="grid grid-cols-2 gap-4 md:contents">
        {albums.slice(0, 6).map((album) => <PortfolioCard site={album} />)}
      </div>
      <!-- Last 3 albums in 3-column grid on mobile, part of 3-column grid on md+ -->
      <div class="mt-4 grid grid-cols-3 gap-4 md:contents">
        {albums.slice(6).map((album) => <PortfolioCard site={album} />)}
      </div>
    </div>
  </div>
</ContentSection>
