---
import ContentSection from "~/components/content-section.astro";
import PortfolioCard from "~/components/portfolio-card.astro";
import { getPortfolio } from "~/data/portfolio";

const sites = await getPortfolio();
---

<ContentSection title="Portfolio" id="portfolio">
  <Fragment slot="lead">
    Check out this music with Robert on drums.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {sites.map((site) => <PortfolioCard site={site} />)}
    </div>
    <p class="text-right text-sm text-primary">
        and more coming soon...
    </p>
  </div>
</ContentSection>
